@media screen and (max-width:520px) {
    .q-section article{
        font-size: 1.5rem;
    } 
}


@media screen and (min-width:769px) {
    nav{
        width:37%;
    }
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        
    } 
    
    .intro{
        flex-direction: row;
        width: 80%;
        margin: 2rem auto 3rem auto;
    }

.intro img{
    margin-left: 0;
}

    .q-section div{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1vw;
        width:min(80%, 800px)
    }

    .q-section article{
        width:min(26vw,260px);
        height:min(26vw,260px);
    }

    .q1 div{ background-color: var(--color2, #cd9fcc);}
    .q2 div{ background-color: var(--color3, #e4c2c6);}
    .q3 div{ background-color: var(--color4, #f6caca);}
    .q4 div{ background-color: var(--color3, #e4c2c6);}
    .q5 div{ background-color: var(--color2, #cd9fcc);}
    .q6 div{ background-color: var(--color3, #e4c2c6);}
    .q7 div{ background-color: var(--color4, #f6caca);}
}